body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.game-container {
    border: 3px solid #00bfff;
    padding: 20px;
    background-color: #e0ffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.game-container h1{
    color: #095878;
}
canvas {
    border: 2px solid #00bfff;
    background-color: #6fb7d8;
}

#score {
    margin-top: 10px;
    font-size: 20px;
    color: #00bfff;
}

button {
    padding: 10px 20px;
    background-color: #095878;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #ff4500;
}

.controls {
    margin-top: 20px;
    display: none; /* Hide by default */
}

.control-btn {
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.horizontal-controls {
    display: flex;
    justify-content: center;
}

#up, #down {
    width: 80px;
    height: 40px;
}

#left, #right {
    width: 80px;
    height: 40px;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 600px) {
    body{
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .game-container {
        width: 100%; /* Full width on small screens */
        padding: 10px; /* Reduce padding on smaller screens */
        position:relative;
        margin-left: 10%;
    }
    .controls {
        display: block; /* Show the control buttons on mobile */
    }

    #score {
        font-size: 18px;
    }

    button {
        font-size: 14px; /* Make button text smaller */
        padding: 8px 16px; /* Adjust button padding */
    }

    .control-btn {
        font-size: 10px; /* Smaller font size for controls */
        width: 50px;
        height: 50px;
       
    }

    #up, #down {
        width: 40px;
        height: 40px;
    }

    #left, #right {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 400px) {
    body{
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    /* On very small screens, further adjust the layout */
    .game-container {
        width: 120%; /* Full width */
        padding: 5px; /* Further reduce padding */
        align-items: center;
    }
    .controls {
        display: block; /* Show the control buttons on mobile */
    }

    .control-btn {
        width: 60px; /* Bigger buttons for tiny screens */
        height: 60px;
        font-size: 6px;
    }

    #up, #down {
        width: 20px;
        height: 20px;
    }

    #left, #right {
        width: 20px;
        height: 20px;
    }
}